* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  height: 94px;
  background-color: #000000;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-transform: uppercase;
}

header nav{
  margin-left: 170px;
}

h1 {
  width: 70px;
  height: 70px;
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  background-size: 100%;
  text-indent: -99999999px;
  margin-left: 10%;
}

h1 a {
  display: block;
  width: 100%;
  height: 100%;
}
header ul a,
h1 {
  color: #ffffff;
}


header ul {
  font-size: 18px;
}

header ul a {
  padding: 5px 10px;
  position: relative;
}

header ul a::before {
  content: "";
  width: 0;
  height: 2px;
  background-color: #000000;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 2s;
}

header ul a:hover:before {
  width: 100%;
  background-color: #ffffff;
}

.main-page h2 {
  font-size: 24px;
  margin: 50px 0 50px 0;
  margin-left: 10%;
}

h2 a{
  color: #000000;
}

.todays-hits-container {
  width: 80%;
  margin: 0 auto;
  /* background-color: darkmagenta; */
}

.latest-hits-containetr {
  flex-wrap: wrap;
}

.music-box {
  /* background-color: burlywood; */
  width: 30%;
  padding-bottom: 50px;
  margin: 5px;
}

.music-box h3, .article-p{
margin-left: 12px;
}

.music-box article {
  border: 1px solid #000000;
  margin-bottom: ;
  /* background-color: chocolate; */
  position: relative;
}

.music-surati {
  width: 100%;
  height: 90px;
  background-image: url(../img/sound\ 1.png);
  background-size: 25%;
  background-repeat: repeat-x;
  margin-top: 58px;}

h3 {
  margin-top: 24px;
  margin-bottom: 12px;
}

h3 a{
  color: #000000;
}
.music-box article p {
  margin-bottom: 50px;
  position: relative;
}

.music-box p a {
  color: #000000;
}

.like {
  background-image: url(../img/like\ 1.png);
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
}

.like:hover{
  background-image: url(../img/like\ 2.png);
}

.like a{
  display: block;
  width: 100%;
  height: 100%;
}

.goOn {
  margin-top: 10px;
}


.social{
  width: 50px;
  height: 100px;
  position:fixed;
  right: 0;
  top: 214px;
}


.social div{
  width: 100%;
  height: 50%;
  background-repeat: no-repeat;
  background-size: 100%;
}

.social div a{
  display: block;
  width: 100%;
  height: 100%;
}


.social .facebook{
  background-image: url(../img/fb\ 1.png);
}

.social .instagram{
  background-image: url(../img/instagram\ 1.png);
}

.social .facebook:hover{
  background-image: url(../img/facebook.png);
}

.social .instagram:hover{
  background-image: url(../img/instagram.png);
}



/* ------------FOOTER */

footer {
  height: 354px;
  background-color: #000000;
  padding-top: 26px;
}

.footer-photo{
  width: 150px;
  height: 150px;
  background-image: url(../img/music-note\ 2.png);
  margin: 0 auto;

}

.footer-p{
  margin-top: 26px;
}
.footer-p , .rights {
  color: #ffffff;
  text-align: center;
  font-size: 18px;
}

 .rights{
  margin-top: 50px;
}



/* ------------------PLAYLISTS PAGE STYLES*/

.playlists{
  width: 90%;
  /* background-color: blue; */
  justify-content: flex-start;
  margin: 0 auto;

}


.playlists-page{
  margin-top: 50px;
  margin-left: 5%;
}
.playlists-page h2{
  margin-bottom: 50px;
  margin-top: 10px;
}
.playlist1 a{
  color: #000000;
}

.playlist1 ul li .time{
  margin-left: 20px;
}

.playlist1 ul li{
  margin-left: 10%;
  margin-left: 10px;
  margin-bottom: 8px;
  font-size: 18px;
}

.playlist2{
  margin-left: 160px;
}


.playlist-photo{
    /* background-color: burlywood; */
    width: 20%;
    margin: 0 auto;
}

.playlist-meore{
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
}

.thanks{
  font-size: 36px;
  text-align: center;
  margin: 107px 0 140px 0;
}


.playlist1{
transition: 0.5s;
}
.playlist1:hover{
  background-color: rgb(0, 0, 0, 10%);
  box-shadow: 0 0 20px 20px rgb(0, 0, 0, 10%);
  /* box-shadow: rgb(0, 0, 0, 10%); */

}

.playlists-page .music-surati{
  margin-bottom: 30px;
}









